/* You can add global styles to this file, and also import other style files */

.cecytea-background {
    background-color: #F26B1F !important;
}

.cecytea-text {
    color: #208E52 !important;
}

.cecytea-button {
    background-color: #208E52 !important;
}