<div class="uk-background-primary uk-light uk-padding uk-panel uk-margin-medium-bottom cecytea-background">
    <p class="uk-h4 uk-text-center">Iniciar Sesión</p>
</div>
<div class="uk-flex uk-flex-column uk-text-center">
    <div class="uk-card uk-card-default uk-card-body uk-margin-remove-bottom">
        <span class="uk-position-center" uk-icon="icon: user; ratio: 4"></span>
    </div>
    <div class="uk-card uk-card-default uk-card-body
    uk-flex uk-flex-center uk-margin-top-remove">
        <form [formGroup]="loginForm" (ngSubmit)="checkManager()" class="uk-margin-remove-top">
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    <input formControlName="email" class="uk-input uk-form-width-large" type="text" placeholder="Correo electrónico">
                </div>
                <div *ngIf="loginForm.get('email').errors?.pattern && loginForm.get('email').touched">
                    <span class="uk-label uk-label-danger">Email no válido</span>
                </div>
                <div *ngIf="loginForm.get('email').errors?.required && loginForm.get('email').touched">
                    <span class="uk-label uk-label-danger">Email es requerido</span>
                </div>
            </div>
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                    <input formControlName="password" class="uk-input uk-form-width-large" type="password" placeholder="Contraseña">
                </div>
                <div *ngIf="loginForm.get('password').errors?.required && loginForm.get('password').touched">
                    <span class="uk-label uk-label-danger">Contraseña es requerida</span>
                </div>
            </div>
            <button [disabled]="!loginForm.valid" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom cecytea-button">Iniciar
                Sesión</button>
            <div uk-spinner="ratio: 1" *ngIf="isLoading"></div>
            <a routerLink="/newmanager" class="uk-link-muted uk-position-bottom-center uk-text-primary" href="">¿Sin
                cuenta aún? Click aquí para
                registrar</a>
        </form>
    </div>
    <div *ngIf="hasError" class="uk-alert-danger uk-card uk-card-default uk-card-body uk-margin-remove-top" uk-alert>
        <p>{{errMessage}}</p>
    </div>
</div>
<app-footer></app-footer>