<div *ngIf="isLoading" class=" uk-animation-toggle uk-flex uk-flex-column uk-width-xlarge-9-10 uk-padding-large uk-margin-xlarge-top">
    <div class="uk-margin-large-top">
        <div class="spring-spinner uk-align-center uk-animation-fade">
            <div class="spring-spinner-part top">
                <div class="spring-spinner-rotator"></div>
            </div>
            <div class="spring-spinner-part bottom">
                <div class="spring-spinner-rotator"></div>
            </div>
        </div>
    </div>
    <div class="uk-align-center uk-margin-remove-top uk-animation-fade">
        <h4 class="uk-text-danger">Cargando . . .</h4>
    </div>
</div>