<div>
    <div class="uk-margin-remove-bottom">
        <p class="uk-h4 uk-text-center uk-text-primary">Nueva Pregunta</p>
    </div>
    <div class="uk-card uk-card-default uk-card-body
      uk-flex uk-flex-center uk-margin-top-remove">
        <form encType="multipart/form-data" novalidate="novalidate" [formGroup]="questionForm" (ngSubmit)="createNewQuestion()" class="uk-margin-remove-top">
            <div class="uk-margin">
                <div class="uk-inline">
                    <textarea formControlName="questionDescription" class="uk-input uk-form-small uk-form-width-large" type="text" style="overflow:auto;resize:none;" placeholder="Descripción de la pregunta"></textarea>
                </div>
                <div *ngIf="questionForm.get('questionDescription').errors?.required && questionForm.get('questionDescription').touched">
                    <span class="uk-label uk-label-danger">La descripción es requerido</span>
                </div>
            </div>
            <div class="uk-margin">
                <div class="uk-inline">
                    <input #optionsInput (keyup.enter)="addNewOption(optionsInput.value)" class="uk-input uk-form-small uk-form-width-large" type="text" placeholder="Escribe la opción y de clic en añadir">
                </div>
                <button type="button" (click)="addNewOption(optionsInput.value)" class="uk-button-mini uk-button-primary">Añadir</button>
                <!-- <div *ngIf="questionForm.get('options').errors?.required && questionForm.get('options').touched">
                    <span class="uk-label uk-label-danger">Las opciones son requeridas</span>
                </div> -->
            </div>
            <div class="uk-margin" *ngIf="optionsArray.length!==0">
                <ul class="uk-list uk-list-bullet">
                    <li *ngFor="let option of optionsArray;let i=index;">{{option}}&nbsp;
                        <button type="button" (click)="deleteOption(i)" class="uk-button-mini uk-button-danger">
                                <span uk-icon="icon:trash; ratio:1"></span>
                        </button>
                        <button type="button" (click)="setCorrectAnswer(option)" class="uk-button-mini uk-button-primary">
                                <span uk-icon="icon:check;ratio:1"></span>
                        </button>
                    </li>

                </ul>
            </div>

            <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                    <input type="file" multiple="true" (change)="checkExtension($event)">
                    <input class="uk-input uk-form-small uk-form-width-large" accept="image/x-png,image/jpg,image/jpeg" type="text" placeholder="Click para cargar imagenes" disabled>
                </div>
            </div>
            <div class="uk-margin">
                <div class="uk-inline">
                    <div uk-form-custom="target: > * > span:first-child">
                        <select formControlName="category" class="uk-form-width-large">
                            <option value="">Seleccione una categoría</option>
                            <option *ngFor="let category of categories" [value]="category._id">{{category.nameCategory}}</option>
                        </select>
                        <button class="uk-button uk-button-default" type="button" tabindex="-1">
                            <span></span>
                            <span uk-icon="icon: chevron-down"></span>
                        </button>
                    </div>
                </div>
                <div *ngIf="questionForm.get('category').errors?.required && questionForm.get('category').touched">
                    <span class="uk-label uk-label-danger">La categoría es requerido</span>
                </div>
            </div>
            <button [disabled]="!questionForm.valid" type="submit" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">Crear</button>
            <a routerLink="/questions" class="uk-link-muted uk-position-bottom-center uk-text-primary" href="">
                Regresar a la lista</a>
        </form>
    </div>
    <!-- <div *ngIf="hasError" class="uk-alert-danger uk-text-center uk-card uk-card-default uk-card-body uk-margin-remove-top"
    uk-alert>
    <p>{{errMessage}}</p>
  </div>
  <div *ngIf="hasError" class="uk-alert-success uk-text-center uk-card uk-card-default uk-card-body uk-margin-remove-top"
    uk-alert>
    <p>Administrador Creado con éxito</p>
  </div> -->
</div>
<app-footer></app-footer>