<div>
    <nav class="uk-navbar-container uk-margin uk-animation-fade" uk-navbar>
        <div class="uk-navbar-left">
            <!-- Questions -->
            <ul class="uk-navbar-nav">
                <li>
                    <a href="#">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: question"></span>Cuestionario
                    </a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li class="uk-active"><a href="#">Lista de preguntas</a></li>
                            <li><a href="#">Crear Pregunta</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <!-- Users -->
            <ul class="uk-navbar-nav">
                <li>
                    <a href="#">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: users">

                        </span>Usuarios
                    </a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li class="uk-active"><a href="#">Lista de usuarios</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <!-- Categorias -->
            <ul class="uk-navbar-nav">
                <li>
                    <a href="#">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: thumbnails">

                        </span>Categorías
                    </a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li class="uk-active"><a href="#">Lista de categorías</a></li>
                            <li><a href="#">Crear categoría</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

        <div class="uk-navbar-right">
            <div class="uk-navbar-item">
                <button class="uk-button uk-button-primary">
                    <span uk-icon="icon: sign-in"></span>
                    Sign In</button>
            </div>
        </div>
    </nav>
    <hr class="uk-divider-icon">
</div>