<div *ngIf="isShowing" class="uk-section-primary uk-preserve-color">

    <div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-light; top: 200">

        <nav class="uk-navbar-container">
            <div class="uk-container uk-container-expand">
                <div uk-navbar>

                    <!-- Questions -->
                    <ul class="uk-navbar-nav">
                        <li class="uk-active ">
                            <a href="#">
                                <span class="uk-icon uk-margin-small-right" uk-icon="icon: question"></span>Cuestionario
                            </a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li class="uk-active"><a routerLink="/questions">Lista de preguntas</a></li>
                                    <li><a routerLink="/newquestion">Crear Pregunta</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <!-- Users -->
                    <ul class="uk-navbar-nav">
                        <li class="uk-active ">
                            <a href="#">
                                <span class="uk-icon uk-margin-small-right" uk-icon="icon: users">

                                </span>Usuarios
                            </a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li class="uk-active"><a routerLink="/users">Lista de usuarios</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <!-- Categorias -->
                    <ul class="uk-navbar-nav">
                        <li class="uk-active ">
                            <a href="#">
                                <span class="uk-icon uk-margin-small-right" uk-icon="icon: thumbnails">

                                </span>Categorías
                            </a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li class="uk-active"><a routerLink="/categories">Lista de categorías</a></li>
                                    <li><a href="#">Crear categoría</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <div class="uk-navbar-right">
                        <div class="uk-navbar-item">
                            <a href="" class="uk-button-secondary uk-border-circle">
                                <span uk-icon="icon:user;ratio:2"></span>
                            </a>
                            <div uk-dropdown>
                                <ul class="uk-nav uk-dropdown-nav">
                                    <li class="uk-nav-header uk-text-center">Datos</li>
                                    <li class="uk-nav-header">Nombre</li>
                                    <li>{{manager['name']}}</li>
                                    <li class="uk-nav-header">Apellidos</li>
                                    <li>{{manager['lastName']}}</li>
                                    <li class="uk-nav-header">Correo</li>
                                    <li>{{manager['email']}}</li>
                                    <li><a href="#" (click)="signOut()">Cerrar Sesión</a></li>
                                </ul>
                            </div>
                        </div>
                        <button (click)="signOut()" class="uk-button-small uk-button-danger">
                            <span uk-icon="sign-out">Cerrar Sesión</span>
                        </button>
                    </div>
                </div>
            </div>
        </nav>
    </div>